flask
flask-reuploaded
flask-login
flask-wtf
flask-restful
wtforms
flask-sqlalchemy
sqlalchemy
sqlalchemy-utils

numpy
pandas
geopy
geopandas
torch
torchvision

selenium
requests
beautifulsoup4
lxml
html5lib

pymysql
mysql-connector-python
cryptography
pillow


