{% extends "base.html" %}

{% block content %}

<div class="d-flex flex-column h-100">

    <div class="row">
        <div class="col-12">
            <div class="card text-center mb-2 mt-2">
                  <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-title text-muted">Fancy text here bla bla bla line break and so on and so on</p>
                    <p class="card-title text-muted">Fancy text here bla bla bla line break and so on and so on</p>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}