{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column h-100">

    <div class="row">
        <div class="col-12">
            <div class="card text-center mb-2 mt-2" style="background: rgba(255, 255, 255, 0.8);">
                <div class="card-body">
                    <h5 class="card-title">Enter your Route</h5>
                    <p class="card-title text-muted">Fancy text here bla bla bla line break and so on and so on</p>
                    <form method="post">
                        <div class="input-group mb-3">
                            <input id="start_loc" class="form-control" placeholder="start" value="" name="start_loc">
                            <button onclick="trackLocation()" class="btn btn-secondary" type="button" id="button-addon2"><span class="bi bi-geo-alt-fill"></span></button>
                        </div>

                        <div class="mb-3 d-none">
                            <input id="user_position" class="form-control" value="" name="user_position">
                        </div>

                        <div class="mb-3">
                            <input id="destination_loc" class="form-control" placeholder="destination" name="destination_loc">
                        </div>
                        <button type="submit" class="btn btn-primary">Show Routes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex flex-column h-100">
        <div class="col-12 h-100">
            <div class="row d-flex flex-column h-100">
                <div class="col-12 h-100">
                    <div class="h-100" id="map" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-12">
                {% if valid_coords == True %}
                    <div class="card text-center" style="background: rgba(255, 255, 255, 0.8);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">distance</div>
                                <div class="col-3">duration</div>
                                <div class="col-3">score</div>
                            </div>
                            <div class="row align-items-center mb-1">
                                <div class="col-3 text-center text-muted">{{params["safe_length"]}}km</div>
                                <div class="col-3 text-center text-muted">{{params["safe_duration"]}}min</div>
                                <div class="col-3 text-center text-primary fw-bold">{{params["safe_score"]}}</div>
                                <div class="col-3 text-center">
                                    <button type="submit" class="btn btn-primary" onClick="safeRoute()">Safe<br />Route</button>
                                </div>
                            </div>
                            <div class="row align-items-center mt-1">
                                <div class="col-3 text-center text-muted">{{params["short_length"]}}km</div>
                                <div class="col-3 text-center text-muted">{{params["short_duration"]}}min</div>
                                <div class="col-3 text-center text-primary fw-bold">{{params["short_score"]}}</div>
                                <div class="col-3 text-center">
                                    <button type="submit" class="btn btn-secondary" onClick="fastRoute()">Short<br />Route</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
</div>




    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script>

    const route = {{ route|safe }};
    console.log(route);

    const grid = {{ grid|safe }};
    console.log(grid);

    const safe_route = {{ safe_route|safe }};
    console.log(safe_route);

    const short_route = {{ short_route|safe }};
    console.log(short_route);

     window.onload = function() {
        document.getElementById('start_loc').value = '';
     }

     // Creating map options, insert coordinates
     var mapOptions = {
        center: [50.115459, 8.679118],
        zoom: 13
     }

     // Creating a map object
     var map = new L.map('map', mapOptions);

     // Creating a Layer object
     var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

     // Adding layer to the map
     map.addLayer(layer);

     L.Control.geocoder().addTo(map);


    // ask user to enable location tracking
    function trackLocation() {
         if (!navigator.geolocation) {
            console.log("Your browser doesn't support geolocation feature!")
         } else {
            navigator.geolocation.getCurrentPosition(showSuccessMessage, showErrorMessage)
         };
    }

    function showSuccessMessage(position) {
        const start_loc = document.getElementById("start_loc")
        start_loc.value = "Mein Standort"

        const user_pos = document.getElementById("user_position")
        user_pos.value = position.coords.latitude + "," + position.coords.longitude
        console.log(document.getElementById("user_position").value)
    }

    function showErrorMessage() {
        const start_loc = document.getElementById("start_loc");
        start_loc.value = "Standort nicht freigegeben";
        console.log("nicht freigegeben")
    }


    function safeRoute() {
        if (!navigator.geolocation) {
            console.log("Your browser doesn't support geolocation feature!")
        } else {
            map.removeLayer(shortR);
            setInterval(() => {
                navigator.geolocation.getCurrentPosition(getPosition)
            }, 1000);
        };
    }

    function shortRoute() {
        if (!navigator.geolocation) {
            console.log("Your browser doesn't support geolocation feature!")
        } else {
            map.removeLayer(safeR);
            setInterval(() => {
                navigator.geolocation.getCurrentPosition(getPosition)
            }, 1000);
        };
    }

    // location params
    var circle, accuracy;

    function getPosition(position) {
        // console.log(position)
        lat = position.coords.latitude
        long = position.coords.longitude
        accuracy = position.coords.accuracy

        if (marker_start) {
            map.removeLayer(marker_start)
        }

        if (circle) {
            map.removeLayer(circle)
        }

        marker_start = L.marker([lat, long]);
        circle = L.circle([lat, long], { radius: accuracy });

        var featureGroup = L.featureGroup([marker_start, circle]).addTo(map);

        map.fitBounds(featureGroup.getBounds());

    }


    if (route["valid_coords"])  {

        var marker_start = L.marker(route["start_coords"]);
        var marker_dest = L.marker(route["dest_coords"]);

        var safeR = L.polyline(safe_route, {"color": "green", "weight": 5, "opacity": 0.8});
        var shortR = L.polyline(short_route, {"color": "red", "weight": 5, "opacity": 0.8});

        var featureGroup = L.featureGroup([marker_start, marker_dest, safeR, shortR]).addTo(map);


        for (let i = 0; i < grid.length; i++) {
            L.rectangle([
                                L.latLng(grid[i]["lat_min"], grid[i]["long_min"]),
                                L.latLng(grid[i]["lat_max"], grid[i]["long_max"])
                              ]).setStyle({fillColor: grid[i]["color"], fillOpacity: grid[i]["opacity"], stroke: false}).addTo(featureGroup);
                          };

        map.fitBounds(featureGroup.getBounds());

    }


    </script>


    <!--<div id='chart' class='chart' style = "width: 900px; height: 580px"></div>-->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON|safe}};
    Plotly.plot('chart',graphs,{});
    </script>

{% endblock %}
